<div class="jumbotron center">
<h2> <%= @zip_status %> </h2>
<h3>Upload a zip file here:</h3>
</div>
<div class = "panel-body center">
<%= form_for :zip_file do |form| %>
  <%= form.file_field :file, accept: 'application/zip' %>
  <%= form.submit %>
<% end  %>
</div>
